.singelContainter{
    width: 100% ;
    height: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: aliceblue;
    border-radius: 10px;
    
}
h1{
    color: teal;
    
}